<div id="modaledit{{subject.id}}" name="modelUpdate" >
    <h4>Update Information</h4>
    <div>
      <form action="{{url_for('updatesub',id=subject.id)}}" method="POST" >
        <div>
          <label>Name:</label>
          <input type="hidden" name="id" value="{{subject.id}}" />
          <input type="text" name="subject" value="{{subject.subject}}" />
        </div>
  
        <div>
          <label>Teacher:</label>
          <input type="text" name="teacher" value="{{subject.teacher}}" />
        </div>
  
        <button type="submit">
          Update
        </button>
      </form>
    </div>
    <button onclick="location.href='/'">
      Close
    </button>
  </div>